# Day 10 - 3D movies!  VR capabilties!  Woo!

### Topics

 1. Reading in Kepler-11 simulation data & looking at its mass & radii in planets with our NASA database
 1. Download the "generic planet files"
    * by hand
    * with wget
    * with a user-defined function

Let's import our usual things:

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import ipywidgets

And some user-defined functions to help us parse this data (making sure we have the hermite_library.py file in our directory):

In [5]:
from hermite_library import read_hermite_solution_from_file

## Reading in Kepler-11 simulation data & looking at its mass & radii in planets with our NASA database

Let's import a planet simulation to work with, again assuming the `data` directory containing our simulation files is in the same directory as this notebook:

In [7]:
planet_file = 'data/Kepler-11-savedSim.txt'

t_h, E_h, r_h, v_h = read_hermite_solution_from_file(planet_file)

Before making any visualizations of this, we'll want to get a sense of what the planets in this system look like.  Let's print out some important things -- mass & radii -- of each of these planets by looking back at our planetary database:

In [11]:
planets = pd.read_csv('https://raw.githubusercontent.com/jnaiman/csci-p-14110_su2020/master/lesson08/planets_2020.06.22_10.10.17.csv', 
                      comment="#")

Let's grab some info about this particular planetary system:

In [20]:
#for planet in planets['pl_hostname']:
#    if 'Kepler' in planet:
#        print(planet)

planets.loc[planets['pl_hostname'] == 'Kepler-11']

,rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,...,st_bmy,st_bmyerr,st_bmylim,st_m1,st_m1err,st_m1lim,st_c1,st_c1err,st_c1lim,st_colorn
1546,1547,Kepler-11,b,Kepler-11 b,Transit,0,6,10.3039,0.0006,-0.0010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1547,1548,Kepler-11,c,Kepler-11 c,Transit,0,6,13.0241,0.0013,-0.0008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1548,1549,Kepler-11,d,Kepler-11 d,Transit,0,6,22.6845,0.0009,-0.0009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1549,1550,Kepler-11,e,Kepler-11 e,Transit,0,6,31.9996,0.0008,-0.0012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1550,1551,Kepler-11,f,Kepler-11 f,Transit,0,6,46.6888,0.0027,-0.0032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1551,1552,Kepler-11,g,Kepler-11 g,Transit,0,6,118.3807,0.0010,-0.0006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

And let's check out the masses and radii of these objects in particular:

In [25]:
planets.loc[planets['pl_hostname'] == 'Kepler-11', 
            ['pl_hostname', 'pl_letter', 'pl_name', 'pl_bmassj', 'pl_radj']]

     pl_hostname pl_letter      pl_name  pl_bmassj  pl_radj
1546   Kepler-11         b  Kepler-11 b      0.006    0.161
1547   Kepler-11         c  Kepler-11 c      0.009    0.256
1548   Kepler-11         d  Kepler-11 d      0.023    0.278
1549   Kepler-11         e  Kepler-11 e      0.025    0.374
1550   Kepler-11         f  Kepler-11 f      0.006    0.222
1551   Kepler-11         g  Kepler-11 g      0.079    0.297

Ok cool.  We'll keep this little table us to be able to look at later when we are making some aesthetic choices about our dataset.

## Download the "generic planet files"

Before we get to making a model of our planetary system in 3D we need some graphical objects to update.  These are file formats associated with 3D models (.obj and .mtl files).

There are a few ways to get this data:

1. We can download it by hand here: